/* These classes are use for positioning*/
.abs { 
	position: absolute; }
.fixed, .fix { 
	position: fixed; }
.relative, .rel { 
	position: relative; }
.static, .sta { 
	position: static; }

/* These classes are meant for floating elements*/
/*This class floats an object to the left, with other elements flowing
around it. The flowing can be exited by issuing a <br clear='left'> tag*/
.leftfloat, .leftfloat_h:hover, .lf, .lf_h:hover { 
	float: left; }
/*This class floats an object to the right, with other elements flowing
around it. The flowing can be exited by issuing a <br clear='right'> tag*/
.rightfloat, .rightfloat_h:hover, .rf, .rf_h:hover { 
	float: right; }
/*Using this class will unfloat an object that has previously been floated.*/
.nofloat, .nofloat_h:hover, .nf, .nf_h:hover { 
	float: none; }

/* This group has 21 main classes, with six different types of each that can be selected by choosing the required 
suffix*/
.aqua_b, .aqua_ba:active, .aqua_bh:hover,
.aqua_lb a, .aqua_lba a:active, .aqua_lbh a:hover {
	background: #0ff}
.black_b, .black_ba:active, .black_bh:hover,
.black_lb a, .black_lba a:active, .black_lbh a:hover {
	background: #000}
.blue_b, .blue_ba:active, .blue_bh:hover,
.blue_lb a, .blue_lba a:active, .blue_lbh a:hover {
	background: #00f}
.brown_b, .brown_ba:active, .brown_bh:hover,
.brown_lb a, .brown_lba a:active, .brown_lbh a:hover {
	background: #c44}
.fuchsia_b, .fuchsia_ba:active, .fuchsia_bh:hover,
.fuchsia_lb a,.fuchsia_lba a:active,.fuchsia_lbh a:hover{
	background: #f0f}
.gold_b, .gold_ba:active, .gold_bh:hover,
.gold_lb a, .gold_lba a:active, .gold_lbh a:hover {
	background: #fc0}
.gray_b, .gray_ba:active, .gray_bh:hover,
.gray_lb a, .gray_lba a:active, .gray_lbh a:hover {
	background: #888}
.green_b, .green_ba:active, .green_bh:hover,
.green_lb a, .green_lba a:active, .green_lbh a:hover {
	background: #080}
.khaki_b, .khaki_ba:active, .khaki_bh:hover,
.khaki_lb a, .khaki_lba a:active, .khaki_lbh a:hover {
	background: #cc8}
.lime_b, .lime_ba:active, .lime_bh:hover,
.lime_lb a, .lime_lba a:active, .lime_lbh a:hover {
	background: #0f0}
.maroon_b, .maroon_ba:active, .maroon_bh:hover,
.maroon_lb a, .maroon_lba a:active, .maroon_lbh a:hover {
	background: #800}
.navy_b, .navy_ba:active, .navy_bh:hover,
.navy_lb a, .navy_lba a:active, .navy_lbh a:hover {
	background: #008}
.olive_b, .olive_ba:active, .olive_bh:hover,
.olive_lb a, .olive_lba a:active, .olive_lbh a:hover {
	background: #880}
.orange_b, .orange_ba:active, .orange_bh:hover,
.orange_lb a, .orange_lba a:active, .orange_lbh a:hover {
	background: #f80}
.pink_b, .pink_ba:active, .pink_bh:hover,
.pink_lb a, .pink_lba a:active, .pink_lbh a:hover {
	background: #f88}
.purple_b, .purple_ba:active, .purple_bh:hover,
.purple_lb a, .purple_lba a:active, .purple_lbh a:hover {
	background: #808}
.red_b, .red_ba:active, .red_bh:hover,
.red_lb a, .red_lba a:active, .red_lbh a:hover {
	background: #f00}
.silver_b, .silver_ba:active, .silver_bh:hover,
.silver_lb a, .silver_lba a:active, .silver_lbh a:hover {
	background: #ccc}
.teal_b, .teal_ba:active, .teal_bh:hover,
.teal_lb a, .teal_lba a:active, .teal_lbh a:hover {
	background: #088}
.white_b, .white_ba:active, .white_bh:hover,
.white_lb a, .white_lba a:active, .white_lbh a:hover {
	background: #fff}
.yellow_b, .yellow_ba:active, .yellow_bh:hover,
.yellow_lb a, .yellow_lba a:active, .yellow_lbh a:hover {
	background: #ff0}


/* This group has 15 main classes, with six different types of each that can be selected by choosing the required suffix*/
.carrot1, .carrot1_a:active, .carrot1_h:hover,
.carrot1_l a, .carrot1_la a:active, .carrot1_lh a:hover {
	background: #ea4;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#fd8), to(#c60));
	background: -moz-linear-gradient(top, #fd8, #c60);
	background: linear-gradient(left top, #fd8, #c60);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#f0d080', endColorstr='#c06000');
}
.chrome1, .chrome1_a:active, .chrome1_h:hover,
.chrome1_l a, .chrome1_la a:active, .chrome1_lh a:hover {
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#fff), to(#aaa));
	background: -moz-linear-gradient(top, #fff, #aaa);
	background: linear-gradient(left top, #fff, #aaa);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#f0f0f0', endColorstr='#a0a0a0');
}
.coffee1, .coffee1_a:active, .coffee1_h:hover,
.coffee1_l a, .coffee1_la a:active, .coffee1_lh a:hover {
	background: #c94;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#fc6), to(#752));
	background: -moz-linear-gradient(top, #fc6, #752);
	background: linear-gradient(left top, #fc6, #752);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#f0c060', endColorstr='#705020');
}
.dusk1, .dusk1_a:active, .dusk1_h:hover,
.dusk1_l a, .dusk1_la a:active, .dusk1_lh a:hover {
	background: #79c;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#8ad), to(#357));
	background: -moz-linear-gradient(top, #8ad, #357);
	background: linear-gradient(left top, #8ad, #357);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#80a0d0', endColorstr='#305070');
}
.earth1, .earth1_a:active, .earth1_h:hover,
.earth1_l a, .earth1_la a:active, .earth1_lh a:hover {
	background: #a86;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#db8), to(#532));
	background: -moz-linear-gradient(top, #db8, #532);
	background: linear-gradient(left top, #db8, #532);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#d0b080', endColorstr='#503020');
}
.fire1, .fire1_a:active, .fire1_h:hover,
.fire1_l a, .fire1_la a:active, .fire1_lh a:hover {
	background: #db3;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#ef5), to(#b40));
	background: -moz-linear-gradient(top, #ef5, #b40);
	background: linear-gradient(left top, #ef5, #b40);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#e0f050', endColorstr='#b04000');
}
.grass1, .grass1_a:active, .grass1_h:hover,
.grass1_l a, .grass1_la a:active, .grass1_lh a:hover {
	background: #7b6;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#ae9), to(#160));
	background: -moz-linear-gradient(top, #ae9, #160);
	background: linear-gradient(left top, #ae9, #160);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#a0e090', endColorstr='#106000');
}
.iron1, .iron1_a:active, .iron1_h:hover,
.iron1_l a, .iron1_la a:active, .iron1_lh a:hover {
	background: #777;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#999), to(#333));
	background: -moz-linear-gradient(top, #999, #333);
	background: linear-gradient(left top, #999, #333);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#909090', endColorstr='#303030');
}
.plum1, .plum1_a:active, .plum1_h:hover,
.plum1_l a, .plum1_la a:active, .plum1_lh a:hover {
	background: #969;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#b8a), to(#636));
	background: -moz-linear-gradient(top, #b8a, #636);
	background: linear-gradient(left top, #b8a, #636);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#b080a0', endColorstr='#603060');
}
.rose1, .rose1_a:active, .rose1_h:hover,
.rose1_l a, .rose1_la a:active, .rose1_lh a:hover {
	background: #e45;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#f67), to(#b12));
	background: -moz-linear-gradient(top, #f67, #b12);
	background: linear-gradient(top, #f67, #b12);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#f06070', endColorstr='#b01020');
}
.sky1, .sky1_a:active, .sky1_h:hover,
.sky1_l a, .sky1_la a:active, .sky1_lh a:hover {
	background: #abe;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#cdf), to(#68c));
	background: -moz-linear-gradient(top, #cdf, #68c);
	background: linear-gradient(left top, #cdf, #68c);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#c0d0f0', endColorstr='#6080c0');
}
.sunset1, .sunset1_a:active, .sunset1_h:hover,
.sunset1_l a, .sunset1_la a:active, .sunset1_lh a:hover {
	background: #ed3;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#fe4), to(#ca0));
	background: -moz-linear-gradient(top, #fe4, #ca0);
	background: linear-gradient(left top, #fe4, #ca0);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#f0e040', endColorstr='#c0a000');
}
.tin1, .tin1_a:active, .tin1_h:hover,
.tin1_l a, .tin1_la a:active, .tin1_lh a:hover {
	background: #aaa;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#bbb), to(#777));
	background: -moz-linear-gradient(top, #bbb, #777);
	background: linear-gradient(left top, #bbb, #777);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#b0b0b0', endColorstr='#707070');
}
.water1, .water1_a:active, .water1_h:hover,
.water1_l a, .water1_la a:active, .water1_lh a:hover {
	background: #ace;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#eff), to(#58c));
	background: -moz-linear-gradient(top, #eff, #58c);
	background: linear-gradient(left top, #eff, #58c);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#e0f0f0', endColorstr='#5080c0');
}
.wine1, .wine1_a:active, .wine1_h:hover,
.wine1_l a, .wine1_la a:active, .wine1_lh a:hover {
	background: #d33;
	background: -webkit-gradient(linear, left top, left bottom,
	from(#f44), to(#922));
	background: -moz-linear-gradient(top, #f44, #922);
	background: linear-gradient(left top, #f44, #922);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#f04040', endColorstr='#902020');
}

/* These classes are almost identical to those in the previous plug-in group except that they have a number 2 in them
instead of a 1, and they display gradients that are the inverse from top to bottom.*/
.carrot2, .carrot2_a:active, .carrot2_h:hover,
.carrot2_l a, .carrot2_la a:active, .carrot2_lh a:hover {
	background: #d93;
	background: linear-gradient(left top, #c60, #fd8);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#c60), to(#fd8));
	background: -moz-linear-gradient(top, #c60, #fd8);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#c06000', endColorstr='#f0d080');
}
.chrome2, .chrome2_a:active, .chrome2_h:hover,
.chrome2_l a, .chrome2_la a:active, .chrome2_lh a:hover {
	background: #ccc;
	background: linear-gradient(left top, #aaa, #fff);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#aaa), to(#fff));
	background: -moz-linear-gradient(top, #aaa, #fff);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#a0a0a0', endColorstr='#f0f0f0');
}
.coffee2, .coffee2_a:active, .coffee2_h:hover,
.coffee2_l a, .coffee2_la a:active, .coffee2_lh a:hover {
	background: #b83;
	background: linear-gradient(left top, #752, #fc6);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#752), to(#fc6));
	background: -moz-linear-gradient(top, #752, #fc6);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#705020', endColorstr='#f0c060');
}
.dusk2, .dusk2_a:active, .dusk2_h:hover,
.dusk2_l a, .dusk2_la a:active, .dusk2_lh a:hover {
	background: #68b;
	background: linear-gradient(left top, #357, #8ad);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#357), to(#8ad));
	background: -moz-linear-gradient(top, #357, #8ad);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#305070', endColorstr='#80a0d0');
}
.earth2, .earth2_a:active, .earth2_h:hover,
.earth2_l a, .earth2_la a:active, .earth2_lh a:hover {
	background: #975;
	background: linear-gradient(left top, #532, #db8);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#532), to(#db8));
	background: -moz-linear-gradient(top, #532, #db8);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#503020', endColorstr='#d0b080');
}
.fire2, .fire2_a:active, .fire2_h:hover,
.fire2_l a, .fire2_la a:active, .fire2_lh a:hover {
	background: #ca2;
	background: linear-gradient(left top, #b40, #ef5);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#b40), to(#ef5));
	background: -moz-linear-gradient(top, #b40, #ef5);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#b04000', endColorstr='#e0f050');
}
.grass2, .grass2_a:active, .grass2_h:hover,
.grass2_l a, .grass2_la a:active, .grass2_lh a:hover {
	background: #6a5;
	background: linear-gradient(left top, #160, #ae9);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#160), to(#ae9));
	background: -moz-linear-gradient(top, #160, #ae9);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#106000', endColorstr='#aaee99');
}
.iron2, .iron2_a:active, .iron2_h:hover,
.iron2_l a, .iron2_la a:active, .iron2_lh a:hover {
	background: #666;
	background: linear-gradient(left top, #333, #999);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#333), to(#999));
	background: -moz-linear-gradient(top, #333, #999);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#303030', endColorstr='#909090');
}

.plum2, .plum2_a:active, .plum2_h:hover,
.plum2_l a, .plum2_la a:active, .plum2_lh a:hover {
	background: #858;
	background: linear-gradient(left top, #636, #b8a);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#636), to(#b8a));
	background: -moz-linear-gradient(top, #636, #b8a);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#603060', endColorstr='#b080a0');
}
.rose2, .rose2_a:active, .rose2_h:hover,
.rose2_l a, .rose2_la a:active, .rose2_lh a:hover {
	background: #d34;
	background: linear-gradient(left top, #b12, #f67);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#b12), to(#f67));
	background: -moz-linear-gradient(top, #b12, #f67);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#b01020', endColorstr='#f06070');
}
.sky2, .sky2_a:active, .sky2_h:hover,
.sky2_l a, .sky2_la a:active, .sky2_lh a:hover {
	background: #9ad;
	background: linear-gradient(left top, #68c, #cdf);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#68c), to(#cdf));
	background: -moz-linear-gradient(top, #68c, #cdf);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#6080c0', endColorstr='#c0d0f0');
}
.sunset2, .sunset2_a:active, .sunset2_h:hover,
.sunset2_l a, .sunset2_la a:active, .sunset2_lh a:hover {
	background: #dc2;
	background: linear-gradient(left top, #ca0, #fe4);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#ca0), to(#fe4));
	background: -moz-linear-gradient(top, #ca0, #fe4);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#c0a000', endColorstr='#f0e040');
}
.tin2, .tin2_a:active, .tin2_h:hover,
.tin2_l a, .tin2_la a:active, .tin2_lh a:hover {
	background: #999;
	background: linear-gradient(left top, #777, #bbb);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#777), to(#bbb));
	background: -moz-linear-gradient(top, #777, #bbb);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#707070', endColorstr='#b0b0b0');
}
.water2, .water2_a:active, .water2_h:hover,
.water2_l a, .water2_la a:active, .water2_lh a:hover {
	background: #9bd;
	background: linear-gradient(left top, #58c, #eff);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#58c), to(#eff));
	background: -moz-linear-gradient(top, #58c, #eff);
  	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#5080c0', endColorstr='#e0f0f0');
}
.wine2, .wine2_a:active, .wine2_h:hover,
.wine2_l a, .wine2_la a:active, .wine2_lh a:hover {
	background: #c22;
	background: linear-gradient(left top, #922, #f44);
	background: -webkit-gradient(linear, left top, left bottom,
	from(#922), to(#f44));
	background: -moz-linear-gradient(top, #922, #f44);
	filter: progid:DXImageTransform.Microsoft.Gradient(
	startColorstr='#902020', endColorstr='#f04040');
}

/* This group has five classes, each of which is supplied with the standard suffixes used to change the way they act: _a
for active, _h for hover, _l for a link, _la for an active link, and _lh for a hovered link.*/
.boxshadow, .boxshadow_a:active,
.boxshadow_h:hover, .boxshadow_l a,
.boxshadow_la a:active, .boxshadow_lh a:hover {
	-moz-box-shadow: #888888 4px 4px 6px;
	-webkit-box-shadow: #888888 4px 4px 6px;
	box-shadow: #888888 4px 4px 6px;
	filter: progid:DXImageTransform.Microsoft.Shadow(
	color='#888888', Direction=135, Strength=6);
}
.lightestboxshadow, .lightestboxshadow_a:active,
.lightestboxshadow_h:hover, .lightestboxshadow_l a,
.lightestboxshadow_la a:active, .lightestboxshadow_lh a:hover {
	-moz-box-shadow: #ffffff 4px 4px 6px;
	-webkit-box-shadow: #ffffff 4px 4px 6px;
	box-shadow: #ffffff 4px 4px 6px;
	filter: progid:DXImageTransform.Microsoft.Shadow(
	color='#cccccc', Direction=135, Strength=6);
}
.lightboxshadow, .lightboxshadow_a:active,
.lightboxshadow_h:hover, .lightboxshadow_l a,
.lightboxshadow_la a:active, .lightboxshadow_lh a:hover {
	-moz-box-shadow: #cccccc 4px 4px 6px;
	-webkit-box-shadow: #cccccc 4px 4px 6px;
	box-shadow: #cccccc 4px 4px 6px;
	filter: progid:DXImageTransform.Microsoft.Shadow(
	color='#cccccc', Direction=135, Strength=6);
}
.darkboxshadow, .darkboxshadow_a:active,
.darkboxshadow_h:hover, .darkboxshadow_l a,
.darkboxshadow_la a:active, .darkboxshadow_lh a:hover {
	box-shadow: #444444 4px 4px 6px;
	-moz-box-shadow: #444444 4px 4px 6px;
	-webkit-box-shadow: #444444 4px 4px 6px;
	filter: progid:DXImageTransform.Microsoft.Shadow(
	color='#444444', Direction=135, Strength=6);
}
.darkestboxshadow, .darkestboxshadow_a:active,
.darkestboxshadow_h:hover, .darkestboxshadow_l a,
.darkestboxshadow_la a:active, .darkestboxshadow_lh a:hover {
	-moz-box-shadow: #000000 4px 4px 6px;
	-webkit-box-shadow: #000000 4px 4px 6px;
	box-shadow: #000000 4px 4px 6px;
	filter: progid:DXImageTransform.Microsoft.Shadow(
	color='#000000', Direction=135, Strength=6);
}